# Şifreler ve ayarlar
.streamlit/

# Veritabanı
*.csv
.data/

# Python geçici dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# IDE dosyaları
.vscode/
.idea/
*.swp
*.swo
